.title {
  font-size: 10em; 
  font-weight: bold;
  mix-blend-mode: difference;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -100%); 
  text-transform: uppercase;
  letter-spacing: 20px;
}

.background {
  background: #3a6186;  /* fallback for old browsers */
  background: -webkit-linear-gradient( #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient( #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 600%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}